/*General*/
.uppercase {
    text-transform: uppercase;
}

/*Navbar*/
.pushed-down {
    margin-top: 100rem;
}

/*End of navbar*/

/*Landing page background section*/
.beach {
    background-image: url('https://mikew1999.github.io/Milestone-Project-2/assets/images/beach-5830657_1920.jpg');
    min-height: 96vh;
    max-height: 100vh;
    max-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-box {
    margin: 1rem auto 0;
    width: 60vw;
    background-color: #ffffff;
    opacity: 0.6;
}

.main-header {
    margin-top: 3rem;
    color: #0685da;
    font-size: 6rem;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
}

.secondary-header-box {
    margin: 7.5rem auto 0;
    width: 80vw;
    background-color: #ffffff;
    opacity: 0.6;
}

.secondary-heading {
    color: #0685da;
    font-size: 5rem;
    letter-spacing: 4px;
}

.landing-page-buttons {
    margin-top: 5rem;
}

.landing-page-buttons button {
    width: 15rem;
    height: 3rem;
}

.landing-page-buttons button a {
    text-decoration: none;
}

.down-arrow-container {
    width:100px;
    height:100px;
}

.bottom-arrow {
    width:4rem;
    height:4rem;
    position:absolute;
    right:20px;
    bottom:20px;
}

#down-arrow {
    color: #fff;
    font-size: 2rem!important;
}

/*Landing page background media queries*/
@media only screen and (max-width: 1000px) {
    .header-box {
        width: 70vw;
    }
}

@media only screen and (max-width: 778px) {
    .header-box {
        width: 80vw;
    }
}

@media only screen and (max-width: 778px) {
    .main-header {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1600px) {
    .secondary-header-box {
        margin: 10rem auto 0;
        width: 80vw;
    }
}

@media only screen and (max-width: 1000px) {
    .secondary-header-box {
        margin: 7.5rem auto 0;
        width: 85vw;
    }
}


@media only screen and (max-width: 778px) {
    .secondary-header-box {
        margin: 5rem auto 0;
        width: 90vw;
    }
}

@media only screen and (max-width: 1600px) {
    .secondary-heading {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1000px) {
    .secondary-heading {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 778px) {
    .secondary-heading {
        font-size: 2rem;
    }
}
/*End of Landing page background media queries*/
/*End of Landing page background section*/
#map {
    height: 75vh;
}

.destination-search-form {

    max-width: 60vw;
    margin: 0 auto;
}


/*Footer*/
.socials-icons {
    margin-left: 3rem;
    float: left;
}