/*Navbar*/
#main-nav {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#logo {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0.5px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

#nav-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
/*End of navbar*/

/*Landing Page Background img*/
.beach {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('https://mikew1999.github.io/Milestone-Project-2/assets/images/beach-1921598_1920.jpg');
}