/*General*/
.uppercase {
    text-transform: uppercase;
}

.white {
    color: #fff;
}

#nav {
    padding: 0!important;
}

/*Landing page background section*/
.beach {
    background-image: url('https://mikew1999.github.io/Milestone-Project-2/assets/images/beach-5830657_1920.jpg');
    min-height: 96vh;
    max-height: 100vh;
    max-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-box {
    margin: 0 auto;
    width: 90vw;
    background-color: #ffffff;
    opacity: 0.8;
}

.main-header {
    margin-top: 2rem;
    color: #0685da;
    font-size: 5rem;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.secondary-header {
    padding-bottom: 2rem;
    color: #0685da;
    font-size: 2rem;
    letter-spacing: 4px;
    margin-bottom: 4rem;
}

.down-arrow-container {
    width:100px;
    height:100px;
}

.bottom-arrow {
    width:4rem;
    height:4rem;
    position:absolute;
    right:20px;
    bottom:20px;
}

#down-arrow {
    color: #fff;
    font-size: 2rem!important;
}

#autocomplete {
    margin: 4rem auto;
    width: 40vw;
}

/*map*/
#map {
    height: 75vh;
    width: 50vw;
}

/*Popular locations*/

.slide-img {
    max-width: 200px;
}
/*Footer*/
.socials-icons {
    margin-left: 3rem;
    float: left;
}